<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.StaffManagementConnectionString"
            connectionString="Data Source=seyiiiAbraham\SQLEXPRESS;Initial Catalog=StaffManagement;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>